<div [formGroup]="formGroup">
  <mat-form-field class="full-width">
    <mat-select [placeholder]="titulo" [formControlName]="controlName">
      <mat-option value="Ação">Açao</mat-option>
      <mat-option value="Aventura">Aventura</mat-option>
      <mat-option value="Ficção Científica">Ficção Científica</mat-option>
      <mat-option value="Romance">Romance</mat-option>
      <mat-option value="Terror">Terror</mat-option>
    </mat-select>
    <mat-error *ngIf="validacao.hasErrorValidar(formControl, 'required')">Campo obrigatório</mat-error>
  </mat-form-field>
</div>
