<mat-toolbar class="app-title">Cadastrar Filme</mat-toolbar>
<div class="main-div">
  <mat-card class="center width50" >
    <form [formGroup]="cadastro" (ngSubmit)="salvar()" (ngReset)="reiniciarForm()">
      <mat-card-content>
        <dio-input-text titulo="Título *" controlName="titulo" [formGroup]="cadastro"></dio-input-text>
        <dio-input-text titulo="Link Foto" controlName="urlFoto" [formGroup]="cadastro"></dio-input-text>
          <mat-form-field class="full-width">
              <input  matInput
                      readonly
                      [matDatepicker]="picker"
                      placeholder="Data de Lançamento *"
                      name="dtLancamento"
                      formControlName="dtLancamento"
                      (click)="picker.open()">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="validacao.hasErrorValidar(f.dtLancamento, 'required')">Campo obrigatório</mat-error>
            </mat-form-field>
        <dio-input-textarea titulo="Descrição" controlName="descricao" [formGroup]="cadastro"></dio-input-textarea>
          <mat-form-field class="full-width">
            <input  matInput
                    type="number"
                    min="0"
                    max="10"
                    step="0.1"
                    placeholder="Nota IMDb *"
                    name="nota"
                    formControlName="nota">
            <mat-error *ngIf="validacao.hasErrorValidar(f.nota, 'required')">Campo obrigatório</mat-error>
            <mat-error *ngIf="validacao.hasErrorValidar(f.nota, 'min')">Campo precisa ter no mínimo o valor 0</mat-error>
            <mat-error *ngIf="validacao.hasErrorValidar(f.nota, 'max')">Campo pode ter no máximo o valor 10</mat-error>
          </mat-form-field>
        <dio-input-text titulo="Link IMDb" controlName="urlIMDb" [formGroup]="cadastro"></dio-input-text>
          <mat-form-field class="full-width">
            <mat-select placeholder="Gênero *" formControlName="genero">
              <mat-option value="Ação">Açao</mat-option>
              <mat-option value="Aventura">Aventura</mat-option>
              <mat-option value="Ficção Científica">Ficção Científica</mat-option>
              <mat-option value="Romance">Romance</mat-option>
              <mat-option value="Terror">Terror</mat-option>
            </mat-select>
            <mat-error *ngIf="validacao.hasErrorValidar(f.genero, 'required')">Campo obrigatório</mat-error>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button type="submit" color="accent" mat-raised-button>Salvar</button>
          <button type="reset" color="warn" mat-raised-button>Cancelar</button>
        </mat-card-actions>
      </form>
  </mat-card>
</div>
