<mat-toolbar class="app-title">Filmes Cadastrados</mat-toolbar>

<mat-card class="float-left margin10 filtro-listagem" >
  <form autocomplete="off" novalidate [formGroup]="filtrosListagem">
    <div class="float-left width50">
      <div class="padding10">
        <dio-input-text titulo="Pesquise aqui"
                        controlName="texto"
                        [formGroup]="filtrosListagem">
        </dio-input-text>
      </div>
    </div>
    <div class="float-left width50">
      <div class="padding10">
        <dio-input-select titulo="Gênero"
                          controlName="genero"
                          [opcoes]="generos"
                          [formGroup]="filtrosListagem">
        </dio-input-select>
      </div>
    </div>
  </form>
</mat-card>

<div  class="home-content"
      infiniteScroll
      (scrolled)="onScroll()"
      *ngIf="filmes.length; else semRegistro">
  <mat-card class="home-card" *ngFor="let filme of filmes">
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>{{filme.titulo}}</mat-card-title>
      <mat-card-subtitle>{{filme.genero}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="filme.urlFoto || semFoto" >
    <mat-card-content>
      <p class="quebrar-linha">
        {{filme.descricao || 'Nenhuma descrição informada'}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button color="accent" mat-raised-button (click)="abrir(filme.id)">ABRIR</button>
    </mat-card-actions>
  </mat-card>
</div>

<ng-template #semRegistro>
  <h1 class="full-width main-div">Nenhum registro encontrado!</h1>
</ng-template>
