<div [formGroup]="formGroup">
  <mat-form-field class="full-width">
    <input  matInput
            [placeholder]="titulo"
            [name]="controlName"
            [formControlName]="controlName">
    <mat-error *ngIf="validacao.hasErrorValidar(formControl, 'required')">Campo obrigatório</mat-error>
    <mat-error *ngIf="validacao.hasErrorValidar(formControl, 'minlength')">Campo precisa ter no mínimo 2 caracteres</mat-error>
    <mat-error *ngIf="validacao.hasErrorValidar(formControl, 'maxlength')">Campo pode ter no máximo 256 caracteres</mat-error>
  </mat-form-field>
</div>
